<div class="home-page" style="height: 100vh">
  <div class="ui container">
    <div id="home"></div>

    <div class='d-flex justify-content-center mt-3'>
    <%= render "users/form", user: @user %>

    </div>
  </div>

  <div id="survivors-ready"></div>
</div>

<%= javascript_pack_tag 'home' %>
<%= javascript_pack_tag 'survivors-ready' %>
